body
{
    background-color: #111827;
}

#header
{
    display:flex;
    justify-content: center;
    color:white;
    text-decoration-line:underline;
    text-decoration-thickness:5px ;
}

#score{
    display:flex;
    justify-content: center;
}

#title
{
    display:flex;
}

#options 
{
    display:flex;
    justify-content: center;
}