body{
    background-color: #111827;
}

#header
{
    display:flex;
    justify-content: center;
    color:white;
}

#list
{
    display:flex;
    justify-content: center;
}

#title
{
    display:flex;
}

#choices
{
    display:flex;
    justify-content: center;
}

#options 
{
    display:flex;
    justify-content: center;
}